body {
    background-color: blue;
    font-size: 100%;
}

img {
    max-width: 100%;
}

nav {
    font-size: 2em;
    color: lightgrey;
    text-decoration: lightskyblue;
}

h1, h2 {
    color: white;
}