* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Indie+Flower&family=Ubuntu+Mono&display=swap');

:root {
    --primary-color: #304f8c   ;
    --secondary-color: #888c03 ;
    --accent1-color: #88c9f2;
    --accent2-color: #6643d9;
  
    --heading-font: "Indie Flower", cursive, sans-serif;
    --paragraph-font: "Ubuntu Mono", arial, sans-serif;
  
    --headline-color-on-white: #396E94;
    --headline-color-on-color: white; 
    --paragraph-color-on-white: #396E94; 
    --paragraph-color-on-color: white; 
    --paragraph-background-color: #396E94  ;
    --nav-link-color: #396E94;
    --nav-background-color: #88c9f2;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #396E94;
  }

header {
    background-color: var(--nav-background-color);
    display: grid;
    grid-template-columns: 200px 1fr;
}

.logo {
    max-height: 200px;
}

.logo img {
    max-width: 100%;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: var(--primary-color);
    text-decoration: none;
    padding: 77.5px;
    font-family: var(--heading-font);
    font-size: 2em;
}

nav a:hover {
    background-color:var(--primary-color);
    color: white;
}

body {
    background-color: var(--paragraph-background-color);
    margin: 0;
}

.hero-box {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: 100px 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-bottom: 100px;
    margin-top: 20px;
}

#hero {
    grid-area: 2/2/5/4;
    width: 100%;
}

.welcome-msg {
    text-align: center;
    color: white;
    background-color: #88c9f242;
    padding: 20px;
    border-radius: 30%;
    grid-column: 1/5;
}

.hero-box p {
    font-family: var(--paragraph-font);
    font-size: 24px;
}

.hero-box a {
    padding: 35px;
    font-family: var(--heading-font);
    color: white;
    font-size: 2em;
    grid-area: 4/1/5/5;
    background-color: #88c9f292;
    border-radius: 30%;
    text-align: center;
}

.hero-box a:hover {
    background-color: #888c03;
}


h1, h2, h3 {
    font-family: var(--heading-font);
}

#news-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #190558;
    padding-top: 50px;
    padding-bottom: 50px;
}

#news-box img {
    max-width: 400px;
    grid-area: 1/2/2/3;
    margin: auto;
}

#news-box a {
    grid-column: 4/5;
    text-align: center;
    margin: auto;
    font-family: var(--heading-font);
    font-size: 2em;
    color: white;
    text-decoration: none;
    background-color: #88c9f292;
    padding: 35px;
    border-radius: 30%;
}

#news-box a:hover {
    background-color: #888c03;
}

footer {
    background-color: var(--nav-background-color);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer img {
    max-height: 150px;
}

footer h3, footer a {
    text-align: center;
}

footer h3:hover {
    text-decoration: underline;
}

footer a {
    color: var(--primary-color);
    text-decoration: none;
    padding: 52.5px;
    font-family: var(--heading-font);
    font-size: 2em;
}

footer a:hover {
    background-color:var(--primary-color);
    color: white;
}


@media screen and (max-width: 900px) {
    nav, footer {
        flex-direction: column;
    }

    header {
        align-items: center;
    }

    nav a {
        padding: 20px;
    }

    .hero-box {
        grid-template-rows: 100px repeat(4, 1fr)
    }

    .hero-box a {
        grid-area: 5/1/6/5;
    }

    #news-box {
        display: flex;
        flex-direction: column;
    }

    #news-box img {
        max-width: 300px;
    }
}