#first-section {
    width: 500px;
    border: 5px solid blue;
    padding: 30px;
    margin: 50px;
    background-color: tan;
    border-radius: 15%;
}

img {
    border: 5px dashed black;
    border-radius: 50%;
}

p {
    color: black;
    font-style: bold;
    margin: 0;
}

#picture {
    width: 800px;
    border-radius: 50%;
    text-align: center;
    background-color: grey;
}

#image2 {
    border: 2px solid black;
}