* {
    box-sizing: border-box;

}

.content {
    margin: 0 auto;
    max-width: 960px;
    text-align: center;
}

img {
    max-width: 100%;
}

.head-content {
    display: grid;
    grid-template-columns: 150px 2fr 25px;
}

.head-content h1 {
    font-size: 3em;
}

.head-content p.phone-number {
    font-size: 1em;
    margin: 0;
}

nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
